.card {
  height: 235px;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.text-white {
  color: white;
}

.margin-mobile {
  @media (max-width:991px)  {
   margin-top: 25px;
  }
}

.card-tarif {
  height: 200px;
  width: 80%;
  padding: 15px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  border-radius: 2px;
}

.small-font {
  font-size: 12px;
}
