.accompagnement-image {
  max-width: 90%;
  object-fit: cover;
  margin: auto auto 0;
  border-radius: 2px;
}

.accompagnement-sous-partie {
  max-width: 80%;
  margin: auto;
  margin-bottom: 25px;

  @media (max-width: 400px) {
    max-width: 100%
  }
}

.accompagnement-sous-partie-first {
  padding: 0 25px;

  @media (max-width: 400px) {
    padding: 0 8px;
  }

  a {
    color: rgba(29, 26, 178, 0.7);
    text-decoration: none;
  }

  a:hover {
    color: rgba(29, 26, 178, 1);
  }
}

.decalage-gauche {
  margin: 0 0 11px 24px;
}
