.resume p {
  margin: 0;
  padding-top: 5px;
  span {
    font-size: 12px;
  }
}

.circle {
  width: 250px;
}

.speech-bubble {
  position: relative;
  background: white;
  border-radius: .4em;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-right-color: white;
  border-left: 0;
  border-top: 0;
  margin-top: -8.5px;
  margin-left: -17px;

  @media (max-width: 991px) {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-bottom-color: white;
    border-top: 0;
    margin-left: -17px;
    margin-top: -17px;
  }
}
